In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import myutils as my

In [5]:
df = pd.read_table("./data/glove.6B.50d.txt", delimiter=" ", header=None, index_col=0, quoting=3)

In [6]:
proj_sorted = df.dot(df.mean()).sort_values().head(100000)

In [7]:
good_words = set(proj_sorted.index)

In [8]:
df_filtered = df[df.index.isin(good_words)]

In [9]:
df_filtered.to_csv(open("./data/minimal.50d.3f.csv", "w"), float_format="%0.3f")

In [31]:
df = pd.DataFrame(pd.read_csv("./data/minimal.50d.3f.csv"))

In [33]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,the,0.418,0.250,-0.412,0.122,0.345,-0.044,-0.497,-0.179,-0.001,...,-0.299,-0.157,-0.348,-0.046,-0.443,0.188,0.003,-0.184,-0.115,-0.786
1,",",0.013,0.237,-0.169,0.410,0.638,0.477,-0.429,-0.556,-0.364,...,-0.080,0.630,0.321,-0.468,0.228,0.360,-0.378,-0.567,0.045,0.304
2,.,0.152,0.302,-0.168,0.177,0.317,0.340,-0.435,-0.311,-0.450,...,-0.000,0.069,0.088,-0.103,-0.139,0.223,-0.081,-0.357,0.016,0.102
3,of,0.709,0.571,-0.472,0.180,0.544,0.726,0.182,-0.524,0.104,...,-0.347,0.285,0.076,-0.062,-0.390,0.229,-0.216,-0.226,-0.094,-0.804
4,to,0.680,-0.039,0.302,-0.178,0.430,0.032,-0.414,0.132,-0.298,...,-0.094,0.018,0.210,-0.031,-0.197,0.082,-0.094,-0.073,-0.065,-0.260

In [35]:
df_filtered.to_csv(open("./data/minimal.50d.6f.csv", "w"), float_format="%0.6f")

In [11]:
df_filtered.to_dict('index')[:2]

TypeError: unhashable type: 'slice'

In [17]:
df_filtered.to_json(open("./data/minimal.3f.json", "w"), 'records')